.search {
    width: max-content;
    display: flex;
    align-items: center;
    border-radius: 28px;
    background-color: #c4c4c463;
}

.search-input {
    outline: none;
    border: none;
    background: transparent;
}

.button {
    border-radius: 28px;
    background-color: #c7c7c74f
}
  

